header #menu,
header .nav-btns {
  display: none;
}

.navbar {
  width: 90%;
}

/* ------------Burger Start------------ */
.brg {
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  appearance: none;
}

.brg .bar,
.brg::after,
.brg::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.brg.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.brg.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.brg.is-active .bar {
  opacity: 0;
}

#menu.active {
  display: block;
}

#menu {
  transform: translateX(-100%);
}

#menu.active {
  font-size: 1.2em;
  background-color: white;
  width: 80%;
  height: 90vh;
  top: 0;
  right: 0;
  position: fixed;
  transition: right 0.3s ease;
  padding: 50px;
  transform: translateX(0);
}

.nav-btns {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}


#background-div.active {
  display: block;
}

/* ------------Burger End------------ */


#main-inp {
  max-width: 350px !important;
}

.carousel-item {
  background-size: cover;
  background-position: center;
  width: 100% !important;
  height: 100vh !important;
}

/* ------------Section2 Start------------ */
#sec2 {
  height: auto;
}

#sec2 .row {
  flex-direction: column;
  justify-content: center !important;
}

#sec2 .col-img,
#sec2 .col-content {
  top: 0 !important;
  left: 0 !important;
  max-width: 516px !important;
}
#sec2 .col-content{
  width: 220px !important;
}

#sec2 .col-content {
  max-width: 330px !important;
  padding: 0 10px !important;
}

#sec2 .col-content span {
  display: none;
}

#sec2 .col-content {
  padding: 0 !important;
}

#sec2 .col-6 .col-left h1 {
  font-size: 2em !important;
}

/* ------------Section2 End------------ */



/* ------------Section3 Start------------ */
#sec3 .sec3-content {
  overflow: hidden !important;
  flex-direction: column;
}

#sec3 .col {
  width: 460px !important;
  height: inherit;
}

#sec3 .col-bettwen {
  height: 250px !important;
}

#sec3 .col-bettwen img {
  height: 200px !important;
}

#sec3 .col-bettwen .col-img {
  bottom: 35px !important;
}

#sec3 .col-b {
  height: 260px !important;
}

/* ------------Section3 End------------ */


/* ------------Section4 Start------------ */

#sec4 .sec4-top,
.col-coral {
  padding: 40px 0 !important;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  justify-content: center !important;

}

#sec4 .col-coral h4 {
  font-size: 30px !important;
}

#sec4 .col-coral p {
  font-size: 21px !important;
}

.col.col-2 {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}


.col.col-2:nth-child(-n+3) {
  margin-right: auto;
}

.col.col-2:nth-child(n+4) {
  margin-left: auto;
}

#sec4 .col-black,
.col-coral {
  height: initial !important
}

#sec .col-coral .col-8 h4 {
  text-align: center !important;
}

/* #sec .col-coral .col-8,.col4 {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
} */


/* ------------Section4 End------------ */


/* ------------Footer Start------------ */

footer .foot-top {
  align-items: center !important;
  flex-direction: column;
}

footer .col-flex {

  justify-content: center !important;
}

footer .col-flex {
  flex-wrap: wrap;
}

footer .foot-top>* {
  margin: 20px 0;
}

footer .footer-bottom .footer-row {
  font-weight: bold;
  padding: 0 15px;
  align-items: flex-start;
  flex-direction: column;
}

/* ------------Footer End------------ */